<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">Mikasa</a>  

    <ul *ngIf="!loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Members</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/list']">Lists</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/message']">Messages</a>
        </li>
        <!-- <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">Logout</a>
        </li> -->
    </ul>
    <div *ngIf="!loggedIn()">
        <div class="text-light">
                Welcome {{userName}}
                <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">keyboard_arrow_down</mat-icon>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit Profile</button>
            <button  mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log Out</a>
        </div> -->
    </div>
    <form *ngIf="loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="username" 
        placeholder="Username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="password" name="password" 
        placeholder="Password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

</nav>