<div class="container mt-5">
    <div *ngIf="!regMode" class="text-center">
        <h1>Find Your Match</h1>
        <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Reg</button>
            <button class="btn btn-info btn-lg">LM</button>
        </div>
    </div>
    <div *ngIf="regMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register [valueList]="value" (cancelRegistration)= "cancelRegistration($event)"></app-register>
            </div>
        </div>
    </div>
</div>